.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  top: 50%;
  left: 50%;
}
.spinner:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid gray;
  border-bottom-color: #282c34;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
